@import "../../main.css";

.project-card {
  overflow: hidden;
  background-color: var(--header-color);
  max-width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 12px;
  box-shadow: 0 6px 9px rgba(255, 255, 255, 0.2);
  border-radius: 24px;
}

.project-image {
  width: 250px;
  height: auto;
  object-fit: contain;
  margin: 1rem;
  border-radius: 12px;
}

.project-content {
  padding-left: 12px;
}

.company-info {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.company-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 2px;
}

.company-name {
  color: var(--primary-color);
  font-size: 12px;
  text-transform: uppercase;

}

.project-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.project-description {
  font-size: 0.95rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.tech-stack ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.tech-stack li {
  background-color: var(--secondary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  color: var(--header-color);
}

.project-buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
}

.project-button {
  background-color: var(--button-color);
  color: var(--header-color);
  text-decoration: none;
  padding: 8px 12px;
  transition: background 0.3s ease;
  border-radius: 10px;
}

.project-button:hover {
  background-color: var(--hover-button-color);
}

.project-button.disabled {
  background: #ccc;
  color: #666;
  pointer-events: none;
  cursor: not-allowed;
}

.project-button.disabled {
  background: #ccc;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
}

/* Responsive Grid Container */
.project-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .project-card {
    display: flex;
    flex-direction: column;
    max-height: max-content;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
