@import '../../main.css';

/* P R O J E C T S  C O N T A I N E R */

.project-container{
    background-color: var(--background-color-dmode);
    padding: 10px 30px;
}

.project-container h3{
    text-align: center;
    font-size: 24px;
    color: var(--header-color)    ;
    margin-top: 5em;
    margin-bottom: 3em
}


.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 5rem;
}


.block-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 768px) {

    .project-container{
        height: -10vh;
    }

    .project-container h3{
        font-size: 20px;
        margin-top: 5em;
        margin-bottom: 2em;
    }
    
}